:root {
/** 主题颜色 */


  --vp-c-brand-1: rgba(22, 119, 255, 1);              /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(45, 132, 255, 1);              /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(22, 138, 255, 1);              /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);      /* 辅助色 */


/** 背景颜色 */


--vp-c-bg: #fff;
--vp-c-bg-alt: #f6f6f7;
--vp-c-bg-elv: #fff;
--vp-c-bg-soft: #f6f6f7;


/** 文本颜色 */


--vp-c-text-1: rgba(33, 37, 41, 1);                 /* 主要文本 */
--vp-c-text-2: rgba(64, 75, 105, 1);                /* 次要文本 */
--vp-c-text-3: rgba(138, 146, 169, 1);              /* 辅助文本 */

}

/** 深色模式 */
[data-theme="dark"] { 

  --vp-c-brand-1: rgba(22, 138, 255, 1);              /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(45, 132, 255, 1);              /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(22, 119, 255, 1);              /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(131, 160, 218, 0.314);      /* 辅助色 */



--vp-c-bg: #1b1b1f;
--vp-c-bg-alt: #161618;
--vp-c-bg-elv: #202127;
--vp-c-bg-soft: #202127;



--vp-c-text-1: rgba(255, 255, 245, 0.86);
--vp-c-text-2: rgba(235, 235, 245, 0.6);
--vp-c-text-3: rgba(235, 235, 245, 0.38);

} 
